@import url("https://www.nerdfonts.com/assets/css/webfont.css"); /* nerd-fonts */

/* Reset all styles */
*:where(:not(svg):not(svg *)), *::after, *::before {
  all: unset;
  display: revert;
  box-sizing: border-box;
  position: relative;
}

html {
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

.transition {
  transition: all .333s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
    animation: none;
  }
}