@import url("https://www.nerdfonts.com/assets/css/webfont.css"); /* nerd-fonts */

/* Reset all styles */
*:where(:not(svg):not(svg *)), *::after, *::before {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}